.note {
  padding: 15px;
  height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  }

  .note .controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date{
    flex: 1 1;
    font-size: 12px;
    font-weight: 500;
    color: rgb(0 0 0 / 42%);
  }

  .note_text {
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    outline: none;
    border: none;
  }
  
  .note_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .note_footer img {
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
  }
  
  .note:hover .note_footer img {
    opacity: 1;
  }